*{
  margin: 0;
  border: 3px solid black
}

img{
  max-width: 100%;
  vertical-align: top;
}

#responsive{
  display: none;
}

@media screen and (max-width: 768px) {
  img{
    display: none;
  }

  #responsive{
    display: block;
  }
}
